@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root{
    background-color: #121217;
    font-family: 'Space Grotesk', 'Sans-Serif';
}

section[id]{
    scroll-margin-top: 5rem;
}

.button-send:hover .button-arrow-icon{
     filter: invert(1);
     transition: filter 0.3s ease;
}